<%= notice if notice.present? %>
<%= form_for @categoria do |produto| %>
  <div class="form-group">
    <%= produto.label :descricao %>
    <%= produto.text_field :descricao, class: 'form-control', placeholder: 'Digite a Descricão do Produto' %>
    <%= produto.submit value='Adicionar', class: "btn btn-primary"%>



  </div>
<% end %>